src/main/mule/workshop-github-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c26bb8a3-8b70-4365-bce7-1dd2989e3bb5" >
		<http:request-connection protocol="HTTPS" host="api.github.com" />
	</http:request-config>
	<flow name="workshop-github-sapiFlow" doc:id="5417422a-2be4-4fd6-8033-1f3820e38cc5" >
		<http:listener doc:name="Listener" doc:id="8f0b4e08-f54f-4734-b6e1-5c12893f471e" config-ref="SystemAPIConfig" path="/coding-day/api/v1/github/{username}"/>
        <logger level="INFO" message="get:\github\{username}" />
		<http:request method="GET" doc:name="Request" doc:id="2fef92a4-cf13-4e9d-8dcf-eea092182c1a" path='#["/users/$(attributes.uriParams.username)/repos"]' config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[attributes.queryParams]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="500b8c7f-d4e4-456b-8ddb-3906b9495db2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
